/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

#header {
  background-image: url("img/Header background.png");
  background-size: cover;
}

.container .grid_1 {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: start;
}
.container .grid_1 .logo {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  padding-left: 15px;
}
.container .grid_1 .logo img {
  width: 80%;
  height: 80%;
  margin-right: 10px;
}
.container .grid_1 .titre {
  grid-column: 2/3;
  grid-row: 2;
}
.container .grid_1 .titre .mongoo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  margin-left: 250px;
  font-size: 126px;
}
.container .grid_1 .titre .frais {
  grid-column: 2/4;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: white;
  margin-left: 260px;
  font-size: 3rem;
  transform: rotate(-10deg);
}
.container .navbar {
  margin-right: 0px;
  grid-column: 2/5;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-left: 40px;
  align-items: flex-end;
}
.container .navbar button {
  background-color: #ffffff;
  color: #b2d234;
  border-radius: 6px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: bold;
}
.container .navbar a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
}
.container .navbar a:hover {
  text-decoration: underline;
}
.container .reseau {
  grid-column: 4;
  grid-row: 4;
  margin-bottom: 8px;
  display: flex;
}

.grid_2 {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.grid_2 .card_1 {
  grid-column: 2;
  grid-row: 2/3;
}
.grid_2 .card_1 h2 {
  font-size: 2rem;
  color: #b2d234;
  padding-bottom: 30px;
}
.grid_2 .card_1 p {
  font-size: 1.2rem;
  color: #606060;
}
.grid_2 .card_1 button {
  color: #ffffff;
  background-color: #b2d234;
  border-radius: 6px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-top: 30px;
}

img {
  margin-top: 40px;
  width: 90%;
  height: 100%;
  grid-column: 3/5;
  grid-row: 1/4;
}

.grid_2 {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.grid_2 .card_1 {
  grid-column: 2;
  grid-row: 2/3;
}
.grid_2 .card_1 h2 {
  font-size: 2rem;
  color: #b2d234;
  padding-bottom: 30px;
}
.grid_2 .card_1 p {
  font-size: 1.2rem;
  color: #606060;
}
.grid_2 .card_1 button {
  color: #ffffff;
  background-color: #b2d234;
  border-radius: 6px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-top: 30px;
}

img {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  grid-column: 3/5;
  grid-row: 1/4;
}

.grid_3 {
  background-image: url("../img/pate.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.grid_3 .card_2 {
  margin-top: 10px;
  grid-column: 3;
  grid-row: 1/3;
  background-color: rgba(178, 210, 52, 0.8);
  flex-direction: column;
}
.grid_3 .card_2 h2 {
  font-size: 2rem;
  color: #ffffff;
  padding-bottom: 30px;
  font-weight: bold;
}
.grid_3 .card_2 p {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.grid_3 .card_2 button {
  background-color: #ffffff;
  color: #b2d234;
  border-radius: 6px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-top: 30px;
  margin-left: 180px;
}

.page_4 h2 {
  text-align: center;
  font-size: 2rem;
  color: #b2d234;
  padding-bottom: 30px;
  font-weight: bold;
}
.page_4 p {
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 30px;
}
.page_4 .grid_4 {
  width: 90%;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}
.page_4 .grid_4 .card_3 {
  padding-top: 15px;
  grid-column: 2;
}
.page_4 .grid_4 .card_3 h2 {
  font-size: 2rem;
}
.page_4 .grid_4 .card_3 .prix {
  font-size: 1.2rem;
  color: #b2d234;
}
.page_4 .grid_4 .force {
  padding-top: 110px;
  grid-column: 4;
}
.page_4 .grid_4 .force .v {
  text-align: center;
  color: #b2d234;
  transform: rotate(-10deg);
  font-size: 2rem;
}
.page_4 .grid_4 .force .b {
  text-align: center;
  color: #60a0d8;
  transform: rotate(-10deg);
  font-size: 2rem;
  padding-bottom: 100px;
}
.page_4 .grid_4 .force button {
  margin-left: 230px;
  color: #ffffff;
  background-color: #b2d234;
  padding: 5px;
  border-radius: 5px;
}

.grid_5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/prepa.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.grid_5 .vert {
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(178, 210, 52, 0.8);
  margin-right: 30px;
}
.grid_5 .vert h2 {
  color: white;
}
.grid_5 .bleu {
  margin-left: 30px;
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(96, 160, 216, 0.8);
}
.grid_5 .bleu h2 {
  color: white;
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: #b2d234;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}
.footer p {
  grid-column: 2/4;
  grid-row: 1;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}
.footer img {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 30%;
  height: 50%;
  margin-left: 15px;
}

/*# sourceMappingURL=style.css.map */
